.devise-content {
  margin: 25px 0;
  width: 36%;
  border: 1px solid #626364;
  border-radius: 2%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0)
}

.devise-form {
  margin: 25px 50px;
}

.field {
  padding: 5px;
}

.field-label {
  text-align: left;
}

.devise-button {
  padding: 10px;
}
